/* blank */
body{
    --text-color:    #1F2229;
    --background:    #FFFFFF;
    --primary:       #00D1A4;
    --primary-light: #51E9D0;
    --secondary:     #1638D8;
    --grey:          #647493;
    --grey-light:    #AAC0CD;
    --grey-extra-light: #EFF1F3;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    background: var(--grey)
}
.nav-link{
    color: var(--grey-extra-light)
}
#search-box-container{
    background: var(--primary);
    min-height: 400px;
    margin-top: 56px;
    display: flex;
    align-items: center;
    position: relative;

}
#search-box-container h1{
    text-align: center;
    font-size: 80px;
}
#search-box-container .container{
    max-width: 700px;
    z-index: 10;
}

#homeBg{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 75%;
    width: 85%;
    transform: translate(-50%, -50%);
}
#homeBg .fila{
    width: 100%;
    margin: 5px 0;
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5px; */
}
#homeBg .fila .coso{
    background: var(--primary-light);
    height: 22px;
    margin-right: 5px;
    border-radius: 3px;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    width: calc(20% - 5px);
}
#homeBg .fila .coso:last-child{
    margin-right: 0;
}

#home-about .row > div{
    padding: 40px;
    font-size: 18px;
}

#search-button{
    background: var(--secondary) !important;
}
/*ol {counter-reset: item;}
ol li {display: block;}
ol li:before {content: counter(item) ". "; counter-increment: item; font-weight: bold;}
*/
/* remove underlines from URL*/
a { text-decoration: none; }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

#search-elements{
    display: flex;
    box-shadow: 2px 4px 10px #ccc8c852;
    height: 65px;
    border: 1px solid #ececec;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
#search-elements input{
    border-radius: 0;
    border: none;
    border-left: 1px solid #ececec;

}
#search-elements input::placeholder{
    color: #888888;
}

#search-elements button{
    border-radius: 0;
    white-space: nowrap;
    color: #fff;
    border: 0;
    cursor: pointer;
    background: #63c76a;
    transition: all .2s ease-out, color .2s ease-out;
    width: 95px;
}
#search-elements button svg{
    width: 35px;
}


#search-elements select{
    padding: 0 20px;
    border: none;
    width: 15%;
    margin-right: 0px;
    /* remove arrow
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    /* custom arrow */
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
    calc(100% - 20px) calc(1.7em + 2px), calc(100% - 15px) calc(1.7em + 2px), calc(100% - 2.5em) 1.2em;
    background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    background-color: #fff;
}



@media (max-width: 768px) {
    #search-elements{
        flex-direction: column;
        height: auto;
    }
    #search-elements select{
        width: 100%;
        height: 50px;
        background-position:
        calc(100% - 20px) calc(1.5em + 2px), calc(100% - 15px) calc(1.5em + 2px), calc(100% - 2.5em) 1em;
    }
    #search-elements input{
        border: none;
        /* border-left: 1px solid #ececec; */
    }
    #search-elements button{
        width: 100%;
        height: 50px;
    }
}


#clusternameHelp{
    margin-top: 15px;
}
