body {
  color: #FFFFFB;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

section {
  padding: 30vh 0;
}

  
.wrapper {
  text-overflow: ellipsis; 
  overflow-x: hidden; 
  width: calc(100%);
  height: calc(100%);
  display: grid;
  text-align: center;
  place-items: center;
}


.test {
  text-overflow: ellipsis; 
  background: lightblue;
  width: calc(45%);
  height: calc(100%);
  position: absolute;
  left: 40%;
  /* display: grid; */
  /* text-align: center; */
  /* place-items: center; */
  border: 2px solid black;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
  /* white-space: pre-wrap; */
  /* z-index: 1000; */
}






.test[data-tool-tip] {
  text-overflow: ellipsis; 
  background: lightblue;
  width: calc(45%);
  height: calc(100%);
  position: absolute;
  left: 40%;
  display: grid;
  text-align: center;
  place-items: center;
  border: 2px solid black;
  border-radius: 12px; 
  box-shadow: 1px 1px 1px black;
  white-space: pre-wrap;
  text-align: left;

}

  

.test[data-tool-tip]::after {
  font-family: Fira, sans-serif;
  font-weight: normal;

  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: black;
  opacity: 0.8;
  padding: .4em .3em;
  color: white;
  border-radius: 5px;
  font-size: .8em;
  bottom: 0;
  left: 4%0;
  white-space: pre;
  display: inline-block;
  transform: scale(0);
  transition:
    transform ease-out 150ms,
    bottom ease-out 150ms;
}

.test[data-tool-tip]:hover::after {
  transform: scale(1);
  bottom: 100%;
  left: 38%
  /* z-index: 100; */
}

.test[data-tool-tip]:hover::before {
  transform: scale(1);
  content: "";
  position: absolute;
  top: 0%;
  left: 51%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
  opacity: 0.8;
}

.mc__icon {
  background: rgba(0,0,0,.3);
  color: rgba(0,0,0,.3);
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2em;
}


.line {
    background:gray;
    position:relative;
    height:2px;
    top: 50%;
    width:80%;
    left: 10%;
}
.line:before {
    content:'';
    width:10%;
    height:2px;
    position:absolute;
    left:-10%;
    border:none;
    border-top:2px dotted black;
}
.line:after {
    content:'';
    width:10%;
    height:2px;
    position:absolute;
    left:100%;
    border:none;
    border-top:2px dotted black;
}


.box {
  text-overflow: ellipsis; 
  overflow: hidden;
  background: lightcoral;
  width: calc(10%);
  height: calc(100%);
  position: absolute;
  left: 20%;
  display: grid;
  text-align: center;
  place-items: center;
  border: 2px solid black;
  border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
  box-shadow: 1px 1px 1px black;
}



#fofo{
  /* left: 50%; */
  width: calc(20%);
  background: lightcoral;
}

.parent {
  // border: 2px black dotted;
  display: inline-block;
  width: 100%;
  height: 50px;
  position: relative;
 // text-align: center;
}

.zero {
  background: white;
}

.one__icon {
  background: rgba(0,0,0,.3);
  color: rgba(0,0,0,.3);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2em;
}

.one {
  background: #FFC145;
  position: relative;
}

.one::after,
.one::before {
  position: absolute; 
  content: '';
  width: 150px;
  height: 150px;
  background: #FFC145;
  bottom: -1em;
  z-index: 100;
}

.one::before {
  right: 50%;
  transform: skew(0, 20deg)
}

.one::after {
  left: 50%;
  transform: skew(0, -20deg)
}


.two {
  background: #FF6B6C;
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}

.two__image {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

.three {
  background: #5B5F97;
}