<!-- https://stackoverflow.com/questions/8160494/how-to-make-a-whole-div-clickable-in-html-and-css-without-javascript -->
<!-- http://jsfiddle.net/UNs9J/1/ -->
<!-- https://www.youtube.com/watch?v=xoRbkm8XgfQ -->
<section class = "zero">
  <!-- <h1>Fit Me</h1> -->
  

  <div class="parent"> 
   
  <div class="line"></div>
  
  <div class="test" data-tool-tip="MC833&#xa;start: 100&#xa;end: 180"><div class="wrapper">MC833</div></div>
  <div class="test" style="left:calc(10%);" title="MC612 &#13;start: 0 &#13;end: 80" id="fofo"><div class="wrapper">MC612</div></div>
  
  <!-- <div class="test" style="left:calc(10%);" data-tool-tip="MC612&#xa;start: 0&#xa;end: 80" title="MC612 &#13;start: 0 &#13;end: 80" id="fofo"><div class="wrapper">MC612</div></div> -->
    
  </div>
  
  <div class="line_bis"></div>
  
</section>

<section class="one">
  <h1>Section One</h1>
  <div class="one__icon">:)</div>
</section>

<section class="two">
  <h1>Section two</h1>
  <img src="https://fillmurray.com/300/500" alt="" class="two__image">
</section>

<section class="three">
  <h1>Section three</h1>
</section>


